*~
destroy.log
provision.log
deploy.log
node_modules/
/src/assembly/*parser.ts
/src/lowlevel/*parser.ts
/build/
out.qasm
/*.qasm
*.qbin
/lib/bin/*.qasm
tsconfig.build.tsbuildinfo
*.qfs
.worktrees/
.test-tmp/
image/dist/
